In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('Medicalpremium.csv')

In [4]:
df.head()

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
0,45,0,0,0,0,155,57,0,0,0,25000
1,60,1,0,0,0,180,73,0,0,0,29000
2,36,1,1,0,0,158,59,0,0,1,23000
3,52,1,1,0,1,183,93,0,0,2,28000
4,38,0,0,0,1,166,88,0,0,1,23000

In [5]:
df.isnull().sum()

Age                        0
Diabetes                   0
BloodPressureProblems      0
AnyTransplants             0
AnyChronicDiseases         0
Height                     0
Weight                     0
KnownAllergies             0
HistoryOfCancerInFamily    0
NumberOfMajorSurgeries     0
PremiumPrice               0
dtype: int64

In [6]:
df.describe()

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
count,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000
mean,41.745436,0.419878,0.468560,0.055781,0.180527,168.182556,76.950304,0.215010,0.117647,0.667343,24336.713996
std,13.963371,0.493789,0.499264,0.229615,0.384821,10.098155,14.265096,0.411038,0.322353,0.749205,6248.184382
min,18.000000,0.000000,0.000000,0.000000,0.000000,145.000000,51.000000,0.000000,0.000000,0.000000,15000.000000
25%,30.000000,0.000000,0.000000,0.000000,0.000000,161.000000,67.000000,0.000000,0.000000,0.000000,21000.000000
50%,42.000000,0.000000,0.000000,0.000000,0.000000,168.000000,75.000000,0.000000,0.000000,1.000000,23000.000000
75%,53.000000,1.000000,1.000000,0.000000,0.000000,176.000000,87.000000,0.000000,0.000000,1.000000,28000.000000
max,66.000000,1.000000,1.000000,1.000000,1.000000,188.000000,132.000000,1.000000,1.000000,3.000000,40000.000000

In [7]:
df = df.drop(columns=['HistoryOfCancerInFamily'])

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [9]:
X = df.drop(columns=["PremiumPrice"])
y = df["PremiumPrice"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
y_pred = linear_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (Accuracy): {r2}")

Mean Squared Error (MSE): 13130596.847473169
R-squared (Accuracy): 0.6920793322947095

In [10]:
from sklearn.tree import DecisionTreeRegressor

In [11]:
df.head()

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,NumberOfMajorSurgeries,PremiumPrice
0,45,0,0,0,0,155,57,0,0,25000
1,60,1,0,0,0,180,73,0,0,29000
2,36,1,1,0,0,158,59,0,1,23000
3,52,1,1,0,1,183,93,0,2,28000
4,38,0,0,0,1,166,88,0,1,23000

In [12]:
decision_tree_model = DecisionTreeRegressor(random_state=42)

# Train the model
decision_tree_model.fit(X_train, y_train)

# Predict on the test set
y_pred_tree = decision_tree_model.predict(X_test)

# Calculate Mean Squared Error (MSE)
mse_tree = mean_squared_error(y_test, y_pred_tree)

# Calculate R-squared (accuracy)
r2_tree = r2_score(y_test, y_pred_tree)

# Print the results
print(f"Mean Squared Error (MSE): {mse_tree}")
print(f"R-squared (Accuracy): {r2_tree}")

Mean Squared Error (MSE): 14106060.606060605
R-squared (Accuracy): 0.6692041000904432

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [14]:
random_forest_model = RandomForestRegressor(random_state=42)

# Train the model
random_forest_model.fit(X_train, y_train)

# Predict on the test set
y_pred_rf = random_forest_model.predict(X_test)

# Calculate Mean Squared Error (MSE)
mse_rf = mean_squared_error(y_test, y_pred_rf)

# Calculate R-squared (accuracy)
r2_rf = r2_score(y_test, y_pred_rf)

# Print the results
print(f"Mean Squared Error (MSE): {mse_rf}")
print(f"R-squared (Accuracy): {r2_rf}")

Mean Squared Error (MSE): 6113498.98989899
R-squared (Accuracy): 0.8566346440415178

In [17]:
print("Please enter the following details:")

age = int(input("Age: "))
diabetes = int(input("Diabetes (0 for No, 1 for Yes): "))
blood_pressure = int(input("Blood Pressure Problems (0 for No, 1 for Yes): "))
any_transplants = int(input("Any Transplants (0 for No, 1 for Yes): "))
AnyChronicDiseases = int(input("Any ChronicDiseases (0 for No, 1 for Yes): "))
height = float(input("Height (in cm): "))
weight = float(input("Weight (in kg): "))
known_allergies = int(input("Known Allergies (0 for No, 1 for Yes): "))
num_major_surgeries = int(input("Number of Major Surgeries: "))

# Create a DataFrame from the user input
user_data = pd.DataFrame({
    "Age": [age],
    "Diabetes": [diabetes],
    "BloodPressureProblems": [blood_pressure],
    "AnyTransplants": [any_transplants],
    "AnyChronicDiseases": [AnyChronicDiseases],
    "Height": [height],
    "Weight": [weight],
    "KnownAllergies": [known_allergies],
    "NumberOfMajorSurgeries": [num_major_surgeries]
})

# Predict the Premium Price for the user's input data
predicted_premium_price = random_forest_model.predict(user_data)

# Output the prediction
print(f"\nPredicted Premium Price: {predicted_premium_price[0]:.2f}")

Please enter the following details:

Predicted Premium Price: 19330.00